@section title{
    Angular2 Version
}
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/boothelloworld');
    </script>
}
<my-app>
    <div>
        loading...and loading and loading
    </div>
</my-app>